@use '@css/utilities/units';
@use '@css/utilities/colors';

#app {
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: colors.css-color(text, red);
	margin-top: units.unit(8);
}
