@use '@css/utilities/units';
@use '@css/utilities/colors';

.o-card {
	width: clamp(#{units.unit(40)}, 50vw, #{units.unit(75)});
	margin: 0 auto;
	display: block;
	background-color: rgb(colors.css-color(test-color-2));
	padding: units.unit(3) units.unit(4);
	margin-bottom: units.unit(3);
	/* stylelint-disable-next-line color-function-notation */
	box-shadow: 3px 3px 5px 0 rgba(colors.css-color(test-color-2), 0.3);

	// &:empty {
	// 	padding-bottom: units.unit(3);
	// }
}
